<p id="notice"><%= notice %></p>

<h1>Eita</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eita.each do |eitum| %>
      <tr>
        <td><%= eitum.title %></td>
        <td><%= eitum.description %></td>
        <td><%= link_to 'Show', eitum %></td>
        <td><%= link_to 'Edit', edit_eitum_path(eitum) %></td>
        <td><%= link_to 'Destroy', eitum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eitum', new_eitum_path %>
