<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @eitum.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @eitum.description %>
</p>

<%= link_to 'Edit', edit_eitum_path(@eitum) %> |
<%= link_to 'Back', eita_path %>
